*.log
schema.db
*.session
/.idea
__pycache__
/.git
config/config.ini
*.session
/.vscode

/Front/telega/node_modules
/Front/telega/dist
/media
/front/node_modules
/web_ui/node_modules
/venv
/logs
/media